@model IEnumerable<MarketPractice.Entity.ProductList>

@{
    ViewBag.Title = "購物頁";
}

    @using (Html.BeginForm())
    {
        <table class="table table-bordered" style="border-color:black;">
            <tr>
                <td scope="col">圖片</td>
                <td scope="col">商品名稱</td>
                <td scope="col">剩餘數量</td>
                <td scope="col">動作</td>
            </tr>
            @foreach (MarketPractice.Entity.ProductList it in Model)
            {
                <tr>
                    <td>
                        <img src=@(Url.Content(it.imgUrl)) height="100" />
                    </td>
                    <td>
                        @Html.DisplayFor(m => it.itemName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => it.left_amount) / @Html.DisplayFor(m => it.total_amount)
                    </td>
                    <td>
                        @Html.ActionLink("加入購物車", "AddCart",new { itemId = it.itemid})
                    </td>
                </tr>
            }
        </table>
    }

