@model IEnumerable<MarketPractice.Entity.ProductList>

@{
    ViewBag.Title = "購物頁";
}
<script type="text/javascript">
            //$(document).ready(function () {
            //    $("#btnAdd").click(function () {
            //        alert('click!');
            //    }
            //    );
            //});
            $(document).ready(function () {
                $("[name=btn]").click(function (e) {
                    var btnid = e.target.id;
                    alert(btnid);
                    var idCont = btnid.replace('btn', '');
                    var lbId = "#lb" + idCont;
                    var lbAmtId = "#lbAmt" + idCont;
                    //var ccc = document.getElementById(lbId).innerHTML;
                    var ccc = $(lbId).html();
                    $(lbAmtId).html(parseInt($(lbAmtId).html()) - 1);
                    alert(lbId);
                    alert(ccc);
                });
            });
            //var btn = document.getElementById('btnAdd');
            //btn.addEventListener('click', function () {
            //    alert('hi');
            //})
</script>
    @using (Html.BeginForm())
    {
        <table class="table table-bordered" style="border-color:black;">
            <tr>
                <td scope="col">圖片</td>
                <td scope="col">商品名稱</td>
                <td scope="col">剩餘數量</td>
                <td scope="col">動作</td>
            </tr>
            @foreach (MarketPractice.Entity.ProductList it in Model)
            {
                string sLbId = "lb" + it.itemid;
                <tr>
                    <td>
                        <img src=@(Url.Content(it.imgUrl)) height="100" />
                    </td>
                    <td>
                        @*@Html.DisplayFor(m => it.itemName, new { id = sLbId })*@
                        @Html.Label(it.itemName,new {@id = sLbId })
                    </td>
                    <td>
                        @Html.Label(it.left_amount.ToString() ,new {@id= "lbAmt" + it.itemid }) / @Html.DisplayFor(m => it.total_amount)
                    </td>
                    <td>
                        @if (it.left_amount != 0)
                        {
                            string sId = "btn" + it.itemid;
                            @Html.ActionLink("加入購物車", "AddCart", new { itemId = it.itemid })
                            <input type="button" value="加入購物車" id=@sId name="btn" />
                        }
                    </td>
                </tr>
            }
        </table>

    }

