@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首頁</title>
</head>
<body>
    <div style="text-align:center;width:100%;font-size:20px;">
        首頁  <br />
        @Html.ActionLink("Go to Market", "Index", "Market")
        
    </div>
</body>
</html>
