@model MarketPractice.Entity.UserInfo

@{ 
    ViewBag.Title = "登入";
}
    <div style="text-align:center;width:100%;font-size:20px;">LogIn</div>
    @using (Html.BeginForm())
    {
        <div>UserId : @Html.EditorFor(m=>m.UserId)</div>
        <div><input type="submit" value="LogIn" /></div>
    }