@model MarketPractice.Entity.UserInfo

@{ 
    ViewBag.Title = "登入";
}

    @using (Html.BeginForm())
    {
        <div style="display:inline-block">UserId : @Html.EditorFor(m=>m.UserId)
        <input type="submit" value="LogIn" class="btn" /></div>
    }